<ion-content>
  <div class="logo-container">
    <img src="assets/efeitoLinhas.png" alt="backgroundEfeito" class="background" >
    <img src="assets/logo.png" alt="Logo" class="logo" />
    <h1 class="title"></h1>
    <p class="subtitle"></p>
  </div>

  <div class="input-container">
    <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
    <ion-input
      placeholder="Digite seu nome"
      class="name-input"
      clear-input
    ></ion-input>
    <ion-button expand="block" class="enter-button">Entrar</ion-button>
  </div>
</ion-content>